<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">
      Assignment - WT1 - OAuth!
    </h1>
    <p>
      This app is a demonstration of a three-legged oauth2.0 authorization flow.
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="https://cloudsundial.com/salesforce-oauth-flows" role="button">
        Learn more »
      </a>
    </p>
  </div>
</div>
